//Variables

//Colores
$colorPrimario: rgb(29,29,29);
$colorPrimario-medio:rgb(39,39,39);
$colorPrimario-claro: rgb(120,120,120);

$colorSecundario: rgb(0, 140, 255);
$colorSecundario-medio: rgb(0,66,120);
$colorSecundario-oscuro: rgb(0,31,56);

$colorAlternativo: rgb(247,247,247);
$colorAlternativo-medio: rgb(222,222,222);

//widths
$width100:100%;
$width75:75%;
$width50:50%;
$width33:33%;
$width25:25%;
$width0:0%;
//padding
$paddingNormal:10px;
$paddingGrande:20px;

//fuentes
$fuentePrimaria: Arial, Helvetica, sans-serif;
$FuenteH1: 'Brush Script MT', cursive;
$FuenteH2: 'Brush Script MT', cursive;
$fontSizeH1: 60px;
$fontSizeH2:50px;
$fontSizeMenu: 20px;
$fontSizeTexto: 16px;
$colorH1:$colorAlternativo;
$colorH2:$colorSecundario;

//bordes
$boderRight: 2px solid $colorAlternativo;

//Body
*{
    font-family: $fuentePrimaria;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $colorAlternativo;
}
img{
    max-width: $width100;
}
//Header
header{
    display: flex;
    flex-direction: column;
    width: $width100;
    align-items: center;
    justify-content: center;
    padding: $paddingGrande;
    background-color: $colorPrimario-medio;
}
header h1{
    padding: $paddingNormal;
    font-family: $FuenteH1;
    text-align: center;
    color: $colorSecundario;
    font-size: $fontSizeH1;
    border-bottom: 1px solid $colorAlternativo;
}
header h2{
    padding: $paddingNormal;
    font-family: $FuenteH2;
    color: $colorAlternativo;
    font-size: $fontSizeH2;
    text-align: center;
}
//navegador
nav{
    background-color: $colorSecundario-medio;
    color: $colorAlternativo;
    width: $width100;
    padding: $paddingNormal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav .menuPC{
    padding: $paddingNormal;
    display: flex;
    flex-direction: row;
    width: $width100;
    text-align: center;
}
.menuPC a{
    text-decoration: none;
    color: $colorAlternativo;
    padding: $paddingNormal;
    font-size: $fontSizeMenu;
    border-radius: 5px;
    transition: background-color 1s;
}
.menuPC a:hover{
    background-color: $colorSecundario-oscuro;

}
